.form {
    display: flex;
    flex-direction: column;
    background: var(--color-secondary);
    padding: 30px;
    width: 500px;
    border-radius: 8px;
    position: relative;
    
}

.form h2 {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 20px;
}

.form label {
    font-size: 15px;
    margin-top: 20px;
}

.form input,
.form select {
    margin-top: 5px;
    padding: 10px;
    font-size: 15px;
    border-radius: 4px;
    background-color: var(--color-secondary);
    border: 1px solid var(--color-borderColor);
    color: var(--color-cardName);
}

.form input:focus,
.form select:focus {
    outline: none; 
}


.form button {
    margin-top: 15px;
    font-size: 16px;
    border-radius: 25px;
    border: none;
    cursor: pointer;
}

.subtask {
    display: flex;
    margin-top: 10px;
    align-items: center;
}

.subtask input {
    flex: 1;
    margin-right: 10px;
}

.removeSubtaskButton {
    background: none;
    border: none;
    cursor: pointer;
    padding: 5px 10px;
    color: var(--color-cardName);
    font-weight: bold;

}
